.profile__header {
  margin: 0 18px 0 0;
  font-family: 'Inter', "Arial ", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-basis: 294px;
}

@media (max-width: 924px) {
  .profile__header {
    margin: 0 10px 0 0;
    font-size: 27px;
    line-height: 33px;
    max-width: 189px;
    padding-left: 29px;
    flex-basis: 189px;
  }
}