.header__title {
    text-align: right;
    padding-top: 45px;
    padding-bottom: 36px;
    font-family: 'Inter', "Arial ", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }