.edit-button {
  background-size: 10px 10px;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 7px;
  border: 1px solid #FFFFFF;
  margin-top: 8px;
  background-image: url(../../images/editButton.svg);
  background-color: #11ffee00;
  background-repeat: no-repeat;
  transition: opacity 2s;
}

@media (max-width: 1279px) {
  .edit-button {
    background-size: 7.5px 7.5px;
    width: 18px;
    height: 18px;
    padding: 5.25px;
    margin-top: 2px;
  }
}

.edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}